.tit1{
    font-size: 50px;
    font-family:"Bitter";
    font-weight: 100;
    color: #201b1b;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 80px;
}
.necklaces{
    height: 100vh;
    padding: 0 30px;
    background-color: rgb(211, 204, 173);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 270px;
    grid-gap: 20px;
    padding-top: 100px;

}

.necklace img{
    height: 270px;
    width: 240px;
    margin-bottom: 15px;
}

.necklace h3{
    font-size: 25px;
    font-family:"Bitter";
    font-weight: 700;
    color: #161312;
}